.wraper {
  display: flex;
  justify-content: center;
  align-content: center;
}

.poster-container {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
  grid-auto-rows: minmax(22rem, auto);
  grid-gap: 25px;
  padding: 3rem;
  overflow: hidden;
}