 .single-movie {
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, rgb(31, 14, 20) 17%, rgb(73, 34, 48) 47%, rgba(130, 114, 95, 0.922) 92%);
  color: #E0E4D2;
  width: auto;
  min-height: 40rem;
}

.cover-container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.cover-container .backdrop {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.backdrop {
  max-height: 50vh;
  width: 80%;
  margin-left: auto;
}

.cover-container .genre {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem 1rem;
  margin: 2rem;
  background-color: rgba(16, 48, 48, 0.3);
  backdrop-filter: blur(3px); 
  border-radius: 30px;
  font-size: 1rem;
  font-weight: 700;
}

.cover-container h2 {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 2em;
  font-weight: 700;
  padding: .5rem 1rem;
  margin: 2rem;
  background-color: rgba(1, 9, 1, 0.3); 
  backdrop-filter: blur(3px); 
  border-radius: 50px;
  z-index: 1;
}

.movie-numbers-container {
  position: relative;
  display: flex;
  flex-direction: row;
  font-size: 1rem;
  padding: .2rem;
  justify-content: space-evenly

}

.movie-text-container {
  display: flex;
  flex-direction: column;
  margin: 1rem; 
}

.movie-text-container .tagline {
  font-size: 1.5em;
  padding: .6rem;
  margin: 1rem;
  text-align: start;
 }

.movie-text-container .overview-container {
  display: flex;
}

.movie-text-container .overview {
  word-wrap: break-word;
  text-align: left;
  font-size: 1em;
  max-width: 70%;
  padding: 1rem;
  margin: 1rem;

}

.overview-container .single-poster {
  width: 11rem;
  height: 17rem;
 
  border-radius: .1rem;
  box-shadow: 0 0 12px 2px rgba(140,131,3, 0.689); 
}

@media (max-width: 768px) {
  .single-poster {
    width: 100%;
    height: auto;
  }

  .movie-numbers {
    flex-direction: column;
  }

  .movie-text-container .overview {
    max-width: 90%; /* Adjust as needed for smaller screens */
  }
}

  @media (max-width: 1200px) {
  .movie-text-container .overview {
    max-width: 50%; /* Adjust as needed for medium-sized screens */
  }
  }

button {
  border-radius: 50px;
  color: #E0E4D2;
  background: rgb(31, 14, 20);
  font-family: 'Montserrat', sans-serif;
  border: none;
  padding: 15px;
  box-shadow: 0 0 12px 2px rgba(140, 131, 3, 0.689);
  text-align: center;
  width: 12rem;
  margin: 10px;
}

button:hover {
  box-shadow:  0 0 25px 5px rgb(140, 131, 3);
}



